:root {
  --max-width: 1100px;
  --txt-clr: rgba(0, 0, 0, 0.8);
  --txt-clr-dark: rgb(0, 0, 0);
  --nav-bg: rgba(255, 255, 255, 0.8);
  --header-height: 36px;
}

@media (prefers-color-scheme: dark) {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent
}

html,
body {
  overflow-x: hidden;
  font-family: Helvetica, Arial, Sans-Serif;
  height: 2000px;
  background-color: #ddd;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body>main {
  margin-top: var(--header-height);
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background: var(--nav-bg);
  height: var(--header-height);

  /* no select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img {
    padding: auto 0;
    object-fit: contain;
    height: 18px;
    transform: translateY(2px);
  }
  .logo {
    padding: auto 0 auto 0;
    object-fit: contain;
    height: 22px;
    transform: translateY(2px);
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }
  }

  /* small screen css: place logo at its place*/
  .nav-toggle {
    display: none;
  }

  .mobilelogo {
    display: none;
  }
}

nav {
  width: 100%;
  color: var(--txt-clr);
  background: var(--nav-bg);
  height: 100%;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    list-style: none;

    li {
      & a {
        color: inherit;
        font-size: 12px;
        font-weight: 400;
        ;
        text-decoration: none;

        &:hover {
          /* background: linear-gradient( color(srgb 0.3032 0.5432 0.9587) 30%, color(srgb 0.0845 0.5136 0.2979)); */
          /* background-clip: text; */
          /* -webkit-text-fill-color: transparent; */
          color: var(--txt-clr-dark)
        }
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  header {
    .mobilelogo {
      display: block;
    }

    .bigscreenlogo {
      display: none;
    }
    .logo {
      height: 28px;
    }

    nav {
      transform: scale(1, 0);
      transform-origin: top;
      /* this shows nav closing when page loads first time */
      /* transition: transform 200ms ease-in-out; */
      position: absolute;
      top: 100%;
      height: auto;
      min-height: calc(100vh - var(--header-height));
      ul {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2rem;
        padding-top: 2rem;

        li {
          opacity: 0;
          /* transition: opacity 100ms ease-in-out; */

          a {
            font-size: 25px;
            line-height: 2;
            font-weight: 550;
          }
        }
      }
    }

    .nav-toggle:checked~nav {
      transform: scale(1, 1);
      transition: transform 300ms ease-in-out;

      li {
        transition: opacity 250ms ease-in-out 250ms;
        opacity: 1;
      }

    }

    .nav-toggle:checked~.nav-toggle-label>div {
      transition: all 250ms ease-in-out;

      &:first-child {
        transform: rotate(-45deg);
      }

      &:last-child {
        transform: rotate(45deg);
      }
    }

    .mobilelogo {
      position: absolute;
      left: 1.1rem;
      top: 50%;
      transform: translateY(-50%);
      img {

      }
    }

    .nav-toggle-label {
      position: absolute;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7px;
      right: 1.1rem;
      cursor: pointer;
      gap: 0;

      &>div {
        width: 1.2rem;
        outline: .066rem solid black;
        border-radius: 10px;
        transition: all 150ms ease-in-out;

        &:first-child {
          transform: translate(0, -4.5px);
        }

        &:last-child {
          transform: translate(0, 4.5px);
        }
      }
    }
  }

}