:root {
  --max-width: 1100px;
  --txt-clr: rgba(0, 0, 0, 0.8);
  --txt-clr-gray: rgb(110, 110, 110);
  --txt-clr-dim: rgba(0, 0, 0, 0.6.5);
  --txt-clr-dark: rgb(0, 0, 0);
  --nav-bg: rgba(255, 255, 255, 0.8);
  --nav-bg-opaque: rgba(255, 255, 255, 1);
  --offwhite: #f5f5f7;
  --light-green: rgb(3, 123, 3);
  --default-font: Helvetica, Arial, Sans-Serif;
  --header-height: 36px;
  /* if changed change also in media query */
  --min-desktop-size: 773px;
}

@media (prefers-color-scheme: dark) {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--default-font);
}

h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 48px;
}
a {
  all: unset;
  cursor: pointer;
}
h3 {
  font-size: 25px;
}

section, .section-header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.raised-card{
    border-radius: 8px;
    box-shadow: 0 2px 24px 0 rgba(0,0,0,.11);
    padding: 10px
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.onlymobile {
  display: none;
}

.onlywide {
  display: block;
}

body>main {
  margin-top: var(--header-height);
}

li {
  & a {
    color: inherit;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      /* background: linear-gradient( color(srgb 0.3032 0.5432 0.9587) 30%, color(srgb 0.0845 0.5136 0.2979)); */
      /* background-clip: text; */
      /* -webkit-text-fill-color: transparent; */
      color: var(--txt-clr-dark);
    }
  }
}

header {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 3;
  background: var(--nav-bg);
  height: var(--header-height);
  /* no select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  img {
    padding: auto 0;
    object-fit: contain;
    height: 18px;
    transform: translateY(2px);
  }

  .logo {
    padding: auto 0 auto 0;
    object-fit: contain;
    height: 32px;
    /* transform: translateY(2px); */
    cursor: pointer;

    &:hover {
      filter: brightness(95%);
    }
  }

  /* small screen css: place logo at its place*/
  .nav-toggle {
    /* scrolls page to top */
    /* display: none; */
    /* position:absolute; */
    /* top:0; 
    left:0;
    visibility: hidden;
    opacity: 0; */
    position: absolute;
    top: -100%;
    left: -100%;
  }

  .mobilelogo {
    display: none;
  }

  nav {
    width: 100%;
    color: var(--txt-clr);
    background: var(--nav-bg);
    height: 100%;

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      max-width: 1000px;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      list-style: none;
    }
  }
}

.promo-banner {
  z-index: 2;
  margin: 2px inherit;
  padding: 10px 0;
  display: flex;
  place-content: center;
  font-size: 11px;
  background-color: var(--offwhite);
  position: relative;
  &::before, &::after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left:0;
    width: 60px;
    height: 100%;
    background: linear-gradient(90deg, white, transparent);
  }
  &::after {
    right:0;
    left:unset;
    background: linear-gradient(-90deg, white, transparent);
  }

}

.offers-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  min-height: 400px;

  .offer-card {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 16px;
    /* border: 1px solid firebrick; */
    max-width: 300px;
    background-size: cover;
    color: white;
    background-image: linear-gradient(0, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.8) 100%),
      url('/offer-card.jpg');
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    text-align: center;

    h3 {
      margin-bottom: 15px;
    }

    h4 {
      margin-bottom: 10px;
    }

    p {
      text-align: justify;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      font-size: smaller;
    }

    .price-container {
      border-top: 2px solid rgba(102, 226, 102, 0.8);
      border-bottom: 2px solid rgba(102, 226, 102, 0.8);
      padding-top: 2px;
      padding-bottom: 2px;
      color: rgba(102, 226, 102, 0.8);
      width: auto;
    }

    input[type='button'] {
      all: unset;
      cursor: pointer;
      font-size: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
      background-color: rgba(102, 226, 102, 0.7);
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;

      &:hover {
        background-color: rgba(102, 226, 102, 0.75);
      }
    }
  }
}

.destinations-container {
  /* margin-left: 20px;
  margin-right: 20px; */
  padding-left: 25px;
  padding-right: 25px;
  display: grid;
  gap: 25px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  width: 100%;

  .destination-card {
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    h4 {
      width: 100%;
    }

    .img-container {
      width: 100%;

      img {
        /* height: 120px; */
        width: 100%;
        /* width: auto; */
        aspect-ratio: 3/2;
      }
    }
  }
}
.reviews-section {
  position: relative;
  width: 100%;
  /* // refactor this with promo banner blurs */
  &::before, &::after{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left:0;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, white, transparent);
    z-index: 2;
  }
  &::after {
    right:0;
    left:unset;
    background: linear-gradient(-90deg, white, transparent);
  }
}
.reviews-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-shrink: 0;
  gap: 20px;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
  animation: review-marquee 20s linear infinite;

  &:hover {
    animation-play-state: paused;
  }

  .review-card {
    flex: 0 0 auto;
    --padding: 25px;
    padding: var(--padding);
    position: relative;
    width: 320px;
    height: 350px;
    border-radius: 16px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    background-color: rgba(102, 226, 102, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(17, 90, 17);

    .reviewer-card {
      text-align: center;
      position: absolute;
      bottom: calc(var(--padding) - 15px);
      right: calc(var(--padding) - 15px);

      .name {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14px;
        margin-top: 5px;
      }

      .img-container {
        height: 120px;

        img {
          height: 100%;
          width: auto;
        }
      }
    }

    p {
      font-size: 22px;
      font-weight: 600;
      line-height: 1.3;
      letter-spacing: 1px;
    }
  }
}

footer {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--offwhite);
  & > div {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 400px;
    width: 100%;
  }
  & > div:first-child {margin-left: auto;}
  & > div:last-child {margin-right: auto;}
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    img { height: 24px;}
  }
  ul {
    list-style: none;
  }
  .footer-nav {
    ul {
      li{
        margin-bottom: 5px;
      }
    }
  }
  .form-newsletter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      font-size: 12px;
    }
    .signup-newsletter{
      display: flex;
      gap: 10px;
      input[type='email'] {
        height: 30px;
        width: 200px;
        padding-left: 10px;
        border: 1px solid var(--nav-bg);
        border-radius: 6px;

      }
      button {
        height: 30px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: 1px solid var(--nav-bg);
        color: var(--txt-clr);
        &:hover {
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}











@media only screen and (max-width: 773px) {
  .onlymobile {
    display: block;
  }

  .onlywide {
    display: none;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 20px;
  }

  header {
    opacity: 0;
    animation: fadeIn .5s ease-in-out .5s forwards;
    nav {
      background-color: var(--nav-bg-opaque);
      transform: scale(1, 0);
      transform-origin: top;
      /* this shows nav closing when page loads first time */
      transition: transform 200ms ease-in-out;
      position: absolute;
      top: 100%;
      height: auto;
      min-height: calc(100vh - var(--header-height));

      ul {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2rem;
        padding-top: 4rem;

        li {
          opacity: 0;
          transition: opacity 100ms ease-in-out;

          a {
            font-size: 35px;
            line-height: 2;
            font-weight: 600;
          }
        }
      }
    }

    /* &:has(.nav-toggle:checked) .nav-right {
      right: calc(1.2rem + 15px);
    } */

    &:has(.nav-toggle:checked)>nav {

      transform: scale(1, 1);
      transition: transform 300ms ease-in-out;

      li {
        transition: opacity 250ms ease-in-out 250ms;
        opacity: 1;
      }

    }

    &:has(.nav-toggle:checked)~.maincontent {
      height: calc(100vh - var(--header-height));
      /* overflow-y: hidden; */
      /* filter: blur(npx); */
    }

    .nav-toggle:checked~.nav-toggle-label>div {
      transition: all 250ms ease-in-out;

      &:first-child {
        transform: rotate(-45deg);
      }

      &:last-child {
        transform: rotate(45deg);
      }
    }

    .logo {
      height: 25px;
      position: absolute;
      left: 1.2rem;
      top: 50%;
      transform: translateY(-50%);
    }

    .nav-right {
      position: absolute;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
      right: 1.2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 30px;

      /* every image on right side should be 20px, might include search later on */
      img {
        height: 20px;
      }
      
      .nav-toggle-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        &>div {
          width: 1rem;
          outline: 1px solid black;
          border-radius: 10px;
          transition: all 150ms ease-in-out;

          &:first-child {
            transform: translate(0, -4.5px);
          }

          &:last-child {
            transform: translate(0, 4.5px);
          }
        }
      }
    }

  }
  .promo-banner {
    &::before, &::after {
      content: unset;
    }
  }
  .offers-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .offer-card {
      max-width: 400px;
      width: 100%;
      min-height: 250px;

      h4 {
        margin-bottom: 10px;
        font-size: 15px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .destinations-container {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
    row-gap: 30px;

    .destination-card {
      p {
        font-size: 12px;
      }
    }
  }
  /* blur for reviews make bit smaller then big screens */
  .reviews-section {
    &::after, &::before {
      width: 40px;
    }
  }
  .reviews-container {
    animation: unset;
    animation: review-marquee-mobile 20s linear infinite;

    .review-card {
      width: 260px;
      height: 290px;

      p {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3;
        letter-spacing: 1px;
      }
    }
  }
  footer {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    & > div:first-child {margin-left: unset;}
    & > div:last-child {margin-right: unset;}
    nav {
      ul {
        display: grid;
        column-gap: 80px;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

/* keyframe */
@keyframes review-marquee {

  /* 340px is review card width with gap */
  100% {
    transform: translateX(calc(-340px * 4));
  }
}
@keyframes review-marquee-mobile {

  /* 340px is review card width with gap */
  100% {
    transform: translateX(calc(-280px * 4));
  }
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
/* keyframes end */

/* packages page */

.wall-section{
  /* section has max height set to 1200px  */
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    height: 80px;
    background: linear-gradient(180deg,var(--nav-bg-opaque) 20%, var(--nav-bg), transparent);
    /* border: 1px solid green; */
  }
  max-width: unset;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  .img-container{
    img {width: 100%;}
  }
}
.package-title {
  text-align:left;
  font-size: 36px;
}
.package-section{
  /* overflow is hidden by default which will effect toc being sticky */
  overflow: unset;
  padding-left: 10px;
  padding-right: 10px;
}
.package {
  display: grid;
  grid-template-columns: 70% 25%;
  gap: 4%;
  height: 100%;
  /* grid-template-columns: 71% 29; */
  .package-summary{
    font-size: 18px;
    color: var(--txt-clr-dim);
    padding-bottom: 20px;
  }
  .package-summary {
    font-style: italic;
  }
  .package-day{
    padding-bottom: 30px;
    h3{
      padding-bottom: 10px;
    }
    p{
      padding-bottom: 10px;
    }
  }
  .package-day-gallery{
    display: flex;
    height: min-content;
    overflow-x: scroll;
    .img-and-title {
      .img-container{
        border-radius: 10px;
        overflow: hidden;
        img {
        height: 100px;
        width: auto;
      }
    }
    }
    .img-title{
      padding-left: 4px;
      font-size: 11px;
    }
  }

  .package-actions {
    height: min-content;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    align-self: start; /* for grid child strech if unset */
    top: 60px;
    .package-toc{
      margin-bottom: 30px;
      ul {
        list-style: none;
        li {
          margin-bottom: 12px; 
          a {font-size: 15px;}
          .toc-brief {
            margin-top: 5px;
            margin-left: 15px;
            padding-left: 4px;
            font-size: .9em;
            opacity: .8;
            border-left: 2px solid var(--txt-clr);
          }
        }
      }
    }
    .customer-actions {
      .package-price{
        display: flex;
        gap: 20px;
        border: 1px solid var(--txt-clr-gray);
        border-radius: 8px;
        padding: 5px 10px;
        padding-top: 12px;
        margin-bottom: 20px;
      }
      .package-size-pic {
        img {
          height: 32px;
        }
      }
      .original-price {
        font-size: 13px;
        margin-bottom: 5px;
        gap: 1em;
        &>span:first-child{
          text-decoration: line-through;
          color: var(--txt-clr-gray);
          margin-right: 1em;
        }
        &>span:last-child{
          color: green;
        }
      }
      .current-price {
        font-size: 30px;
        font-weight: 600;
      }
      .price-tax-info {
        font-size: 10px;
        color: var(--txt-clr-gray);
        margin-top: -2px;
      }

      .customer-input {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 6px;
        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          padding-bottom: 10px;
          label {
            width: 100%;
          }
          input {
            margin:0;
            border: 1px solid var(--light-green);
            width:100%;
            border-radius: 5px;
            height: 35px;
            font-size: 16px;
            &:focus, &:hover {
              outline: 2px solid var(--light-green);
              border: unset;
            }


            &::placeholder{
              padding-left: 5px;
              font-size: 14px;
              font-family: var(--default-font);
              letter-spacing: 0
            }

            &[type=tel], &[type=number] {
              font-family: monospace;
              font-weight: 500;
              padding-left: 5px;
              letter-spacing: .1em;
            }
          }
          input[type=button] {
            color:var(--offwhite);
            background-color: var(--light-green);
            font-size: 16px;
            cursor: pointer;
          }
        }
      }

    }
  }
}

@media only screen and (max-width: 773px) {
  .wall-section{
    &::before{
      height: 20px;
    }
  }
  .package-title{
    font-size: 20px;
  }
  .package{
    .package-summary {
      font-size: 13px;
    }
    display: block;
    .package-day {
      h3 {
        font-size: 16px;
      }
      p{
        font-size: 13px;
      }
    }
    .package-actions {
      display: none;
    }
  }
}